#search
  .toolbar
    
    %h1
      soundsquare
    =link_to "login", login_fs_path, :class => "button"
  %ul.rounded
    %li{:style => "text-align:center"}=link_to "login", login_fs_path
  %ul.rounded{:id => "fsResults"}
    %li{:style => "text-align:center"}=image_tag "/jqtouch/themes/apple/img/loading.gif"
  .info
    soundsquare = soundcloud + foursquare
  #images